.SD27{
    left:.4rem;
    top:1rem;
}
.SD27-text{
    width:.48rem;
    height:.42rem;
    left:.4rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD26{
    left:.9rem;
    top:1rem;
}
.SD26-text{
    width:.48rem;
    height:.42rem;
    left:1.0rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD25{
    left:1.4rem;
    top:1rem;
}
.SD25-text{
    width:.48rem;
    height:.42rem;
    left:1.5rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD24{
    left:1.9rem;
    top:1rem;
}
.SD24-text{
    width:.48rem;
    height:.42rem;
    left:2.0rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD23{
    left:2.4rem;
    top:1rem;
}
.SD23-text{
    width:.48rem;
    height:.42rem;
    left:2.5rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD22{
    left:2.9rem;
    top:1rem;
}
.SD22-text{
    width:.48rem;
    height:.42rem;
    left:3.0rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD21{
    left:3.4rem;
    top:1rem;
}
.SD21-text{
    width:.48rem;
    height:.42rem;
    left:3.5rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD20{
    left:3.4rem;
    top:1rem;
}
.SD20-text{
    width:.48rem;
    height:.42rem;
    left:3.5rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD17{
    left:4.4rem;
    top:1rem;
}
.SD17-text{
    width:.48rem;
    height:.42rem;
    left:4.4rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD16{
    left:4.9rem;
    top:1rem;
}
.SD16-text{
    width:.48rem;
    height:.42rem;
    left:5.0rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD15{
    left:5.4rem;
    top:1rem;
}
.SD15-text{
    width:.48rem;
    height:.42rem;
    left:5.5rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD14{
    left:5.9rem;
    top:1rem;
}
.SD14-text{
    width:.48rem;
    height:.42rem;
    left:6.0rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD13{
    left:6.4rem;
    top:1rem;
}
.SD13-text{
    width:.48rem;
    height:.42rem;
    left:6.5rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD12{
    left:6.9rem;
    top:1rem;
}
.SD12-text{
    width:.48rem;
    height:.42rem;
    left:7.0rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD11{
    left:7.4rem;
    top:1rem;
}
.SD11-text{
    width:.48rem;
    height:.42rem;
    left:7.5rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD10{
    left:7.9rem;
    top:1rem;
}
.SD10-text{
    width:.48rem;
    height:.42rem;
    left:8.0rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD7{
    left:8.9rem;
    top:1rem;
}
.SD7-text{
    width:.48rem;
    height:.42rem;
    left:8.9rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD6{
    left:9.4rem;
    top:1rem;
}
.SD6-text{
    width:.48rem;
    height:.42rem;
    left:9.5rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD5{
    left:9.9rem;
    top:1rem;
}
.SD5-text{
    width:.48rem;
    height:.42rem;
    left:10.0rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD4{
    left:10.4rem;
    top:1rem;
}
.SD4-text{
    width:.48rem;
    height:.42rem;
    left:10.5rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD3{
    left:10.9rem;
    top:1rem;
}
.SD3-text{
    width:.48rem;
    height:.42rem;
    left:11rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD2{
    left:11.4rem;
    top:1rem;
}
.SD2-text{
    width:.48rem;
    height:.42rem;
    left:11.5rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD1{
    left:11.9rem;
    top:1rem;
}
.SD1-text{
    width:.48rem;
    height:.42rem;
    left:12.0rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD20{
    left:3.9rem;
    top:1rem;
}
.SD20-text{
    width:.48rem;
    height:.42rem;
    left:3.9rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD0{
    left:12.5rem;
    top:1rem;
}
.SD0-text{
    width:.48rem;
    height:.42rem;
    left:12.65rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.clr-white-btn{
    left:13.4rem;
    top:1rem;
}
.white-btn-text{
    width:.48rem;
    height:.42rem;
    left:13.5rem;
    top:1.82rem;
    font-size: .192rem;
    line-height: .192rem;
}
.fourNeedle-k7k6{
    left: 1.5rem;
    top: 0.2rem;
}
.fourNeedle-k7k6-text{
    left: 1.5rem;
    top: 0.6rem;
    font-size: .192rem;
    line-height: .192rem;
    width: .9rem;
    height: .42rem;
}
.fourNeedle-k5k4{
    left: 2.4rem;
    top: 0.2rem;
}
.fourNeedle-k5k4-text{
    left: 2.4rem;
    top: 0.6rem;
    font-size: .192rem;
    line-height: .192rem;
    width: .9rem;
    height: .42rem;
}
.fourNeedle-k3k2{
    left: 3.3rem;
    top: 0.2rem;
}
.fourNeedle-k3k2-text{
    left: 3.3rem;
    top: 0.6rem;
    font-size: .192rem;
    line-height: .192rem;
    width: .9rem;
    height: .42rem;
}
.eightNeedle-SD27{
    left: 4.3rem;
    top: 0.2rem;
}
.eightNeedle-SD27-text{
    left: 4.45rem;
    top: 0.6rem;
    font-size: .192rem;
    line-height: .192rem;
    width: 1.5rem;
    height: .42rem;
}
.twoNeedle-alu{
    left: 5.8rem;
    top: 0.2rem;
}
.twoNeedle-alu-text{
    left: 5.8rem;
    top: 0.6rem;
    font-size: .192rem;
    line-height: .192rem;
    width: .9rem;
    height: .42rem;
}
.fourNeedle-s3s0{
    left: 6.6rem;
    top: 0.2rem;
}
.fourNeedle-s3s0-text{
    left: 6.7rem;
    top: 0.6rem;
    font-size: .192rem;
    line-height: .192rem;
    width: .6rem;
    height: .42rem;
}
.twoNeedle-cn{
    left: 7.38rem;
    top: 0.2rem;
}
.twoNeedle-cn-text{
    left: 7.55rem;
    top: 0.6rem;
    font-size: .192rem;
    line-height: .192rem;
    width: .9rem;
    height: .42rem;
}
.fourNeedle-ldaldb{
    left: 8.2rem;
    top: 0.2rem;
}
.fourNeedle-ldaldb-text{
    left: 8.2rem;
    top: 0.6rem;
    font-size: .192rem;
    line-height: .192rem;
    width: .9rem;
    height: .42rem;
}
.eightNeedle-SD17{
    left: 9.1rem;
    top: 0.2rem;
}
.eightNeedle-SD17-text{
    left: 9.2rem;
    top: 0.6rem;
    font-size: .192rem;
    line-height: .192rem;
    width: 1.9rem;
    height: .42rem;
}
.fourNeedle-iom{
    left: 10.6rem;
    top: 0.2rem;
}
.fourNeedle-iom-text{
    left: 10.35rem;
    top: 0.6rem;
    font-size: .192rem;
    line-height: .192rem;
    width: 1.9rem;
    height: .42rem;
}
.twoNeedle-ldar{
    left: 11.5rem;
    top: 0.2rem;
}
.twoNeedle-ldar-text{
    left: 11.6rem;
    top: 0.6rem;
    font-size: .192rem;
    line-height: .192rem;
    width: .9rem;
    height: .42rem;
}
.twoNeedle-ior{
    left: 12.3rem;
    top: 0.2rem;
}
.twoNeedle-ior-text{
    left: 12.35rem;
    top: 0.6rem;
    font-size: .192rem;
    line-height: .192rem;
    width: .9rem;
    height: .42rem;
}
.eightNeedle-SD07{
    left: 13rem;
    top: 0.2rem;
}
.eightNeedle-SD07-text{
    left: 13.0rem;
    top: 0.6rem;
    font-size: .192rem;
    line-height: .192rem;
    width: 1.9rem;
    height: .42rem;
}