.con-unit{
    width:14.5rem;
    height:2.064rem;
    position:absolute;
    left:1.776rem;
    top:10.236rem;
}
.con-unit-text{
    width:1rem;
    height:.4rem;
    position:absolute;
    left: .2rem;
    top:.288rem;
    font-size: .192rem;
    line-height: .192rem;
}
.in-unit{
    width:3.45rem;
    height:2.064rem;
    position:absolute;
    left:16.25rem;
    top:10.236rem;
}
.in-unit-text{
    width:1rem;
    height:.4rem;
    position:absolute;
    left: .2rem;
    top:.288rem;
    font-size: .192rem;
    line-height: .192rem;
}