.cpld-unit{
    width: 6.96rem;
    height: 2.472rem;
    position:absolute;
    left:5.05rem;
    top:.432rem;
}
.cpld-unit-text{
    width: 1rem;
    height: .4rem;
    position:absolute;
    left:.4rem;
    top:1.14rem;
    font-size: .192rem;
    line-height: .192rem;
}
.power-source-text{    
    width:.672rem;
    height:.384rem;
    font-size: .192rem;
    line-height: .192rem;
    left:.54rem;
    top:1.116rem;
}
.power-source{
    width: 1.488rem;
    height:2.472rem;
    position: absolute;
    left:1.8rem;
    top:.432rem;
}
.sys-unit{
    width:1.812rem;
    height:2.472rem;
    position:absolute;
    left: 3.28rem;
    top: .432rem;
}
.sys-unit-text{
    width:.8rem;
    height:.48rem;
    left: .48rem;
    top: 1.14rem;
    font-size: .192rem;
    line-height: .192rem;
}
.clk0{
    left:.65rem;
    top:.192rem;
}
.clk0-text{
    width:.48rem;
    height:.276rem;
    left:.8rem;
    top:.65rem;
    font-size: .192rem;
    line-height: .192rem;
}
