.alu-reg-unit-twoNeedle-1{
    top: 0.2rem;
    left: 0.2rem;
}
.alu-reg-unit-RO_B-text{
    top: 0.55rem;
    left: 0.18rem;
}
.alu-reg-unit-twoNeedle-2{
    top: 0.2rem;
    left: 1.0rem;
}
.alu-reg-unit-LDRO-text{
    top: 0.55rem;
    left: 0.98rem;
}
.alu-reg-unit-twoNeedle-3{
    top: 1.0rem;
    left: 0.2rem;
}
.alu-reg-unit-ALU_B-text{
    top: 1.35rem;
    left: 0.18rem;
}
.alu-reg-unit-twoNeedle-4{
    top: 1.0rem;
    left: 1.0rem;
    cursor: default;
}
.alu-reg-unit-Cn-text{
    top: 1.35rem;
    left: 1.15rem;
}
.alu-reg-unit-red-buble{
    left: 0.45rem;
    bottom: 0.9rem;
}
.alu-reg-unit-green-buble{
    left: 0.75rem;
    bottom: 0.9rem;
}
.alu-reg-unit-fourNeedle-FZ-FC{
    left: 0.4rem;
    bottom: 0.4rem;
}
.alu-reg-unit-FZ-text{
    left: 0.35rem;
    bottom: 0.1rem;
}
.alu-reg-unit-FC-text{
    left: 0.75rem;
    bottom: 0.1rem;
}
.alu-reg-unit-fourNeedle-2{
    left: 1.6rem;
    bottom: 0.4rem;
}
.alu-reg-unit-S3-text{
    left: 1.55rem;
    bottom: 0.1rem;
}
.alu-reg-unit-S0-text{
    left: 1.95rem;
    bottom: 0.1rem;
}
.alu-reg-unit-fourNeedle-3{
    left: 2.8rem;
    bottom: 0.4rem;
}
.alu-reg-unit-LDA-text{
    left: 2.60rem;
    bottom: 0.1rem;
}
.alu-reg-unit-LDB-text{
    left: 3.15rem;
    bottom: 0.1rem;
}
.alu-reg-unit-eightNeedle-1{
    top: 0.2rem;
    right: 0.2rem;
}
.alu-reg-unit-IN7-text{
    top: 0.55rem;
    right: 1.2rem;
}
.alu-reg-unit-IN0-text{
    top: 0.55rem;
    right: 0.15rem;
}
.alu-reg-unit-eightNeedle-2{
    top: 1.1rem;
    right: 0.2rem;
}
.alu-reg-unit-OUT7-text{
    top: 1.45rem;
    right: 0.95rem;
}
.alu-reg-unit-OUT0-text{
    top: 1.45rem;
    right: 0.15rem;
}
.alu-reg-unit-eightNeedle-3{
    top: 2.0rem;
    right: 0.2rem;
}
.alu-reg-unit-D7-text{
    top: 2.35rem;
    right: 1.2rem;
}
.alu-reg-unit-D0-text{
    top: 2.35rem;
    right: 0.15rem;
}
.alu-reg-unit-fourNeedle-4{
    left: 4.25rem;
    bottom: 1.1rem;
}
.alu-reg-unit-LDR3-text{
    left: 3.90rem;
    bottom: 0.8rem;
}
.alu-reg-unit-LDR0-text{
    left: 4.65rem;
    bottom: 0.8rem;
}
.alu-reg-unit-fourNeedle-5{
    left: 4.25rem;
    bottom: 0.4rem;
}
.alu-reg-unit-R3_B-text{
    left: 3.90rem;
    bottom: 0.1rem;
}
.alu-reg-unit-R0_B-text{
    left: 4.65rem;
    bottom: 0.1rem;
}
.alu-reg-unit-buble-box{
    width: 2.75rem;
    height: 1.4rem;
    top: 0.35rem;
    left: 2.2rem;
    position: absolute;
}
.alu-reg-unit-red-buble-1-1{
    left: 0.1rem;
    top: 0.1rem;
}
.alu-reg-unit-red-buble-1-2{
    left: 0.4rem;
    top: 0.1rem;
}
.alu-reg-unit-red-buble-1-3{
    left: 0.7rem;
    top: 0.1rem;
}
.alu-reg-unit-red-buble-1-4{
    left: 1.0rem;
    top: 0.1rem;
}
.alu-reg-unit-green-buble-1-1{
    left: 1.5rem;
    top: 0.1rem;
}
.alu-reg-unit-green-buble-1-2{
    left: 1.8rem;
    top: 0.1rem;
}
.alu-reg-unit-green-buble-1-3{
    left: 2.1rem;
    top: 0.1rem;
}
.alu-reg-unit-green-buble-1-4{
    left: 2.4rem;
    top: 0.1rem;
}
.alu-reg-unit-red-buble-2-1{
    left: 0.1rem;
    top: 0.7rem;
}
.alu-reg-unit-red-buble-2-2{
    left: 0.4rem;
    top: 0.7rem;
}
.alu-reg-unit-red-buble-2-3{
    left: 0.7rem;
    top: 0.7rem;
}
.alu-reg-unit-red-buble-2-4{
    left: 1.0rem;
    top: 0.7rem;
}
.alu-reg-unit-green-buble-2-1{
    left: 1.5rem;
    top: 0.7rem;
}
.alu-reg-unit-green-buble-2-2{
    left: 1.8rem;
    top: 0.7rem;
}
.alu-reg-unit-green-buble-2-3{
    left: 2.1rem;
    top: 0.7rem;
}
.alu-reg-unit-green-buble-2-4{
    left: 2.4rem;
    top: 0.7rem;
}