.alu-red-a0{
    left:1.92rem;
    top:.96rem;
}
.alu-red-a1{
    left:2.22rem;
    top:.96rem;
}
.alu-red-a2{
    left:2.52rem;
    top:.96rem;
}
.alu-red-a3{
    left:2.82rem;
    top:.96rem;
}
.alu-green-a4{
    left:3.32rem;
    top:.96rem;
}
.alu-green-a5{
    left:3.62rem;
    top:.96rem;
}
.alu-green-a6{
    left:3.92rem;
    top:.96rem;
}
.alu-green-a7{
    left:4.22rem;
    top:.96rem;
}