.SD27{
    left:.444rem;
    top:1rem;
}
.SD27-text{
    width:.48rem;
    height:.42rem;
    left:.444rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}
.SD26{
    left:1rem;
    top:1rem;
}
.SD26-text{
    width:.48rem;
    height:.42rem;
    left:1.1rem;
    top:1.6rem;
    font-size: .192rem;
    line-height: .192rem;
}