.cpu-eightNeedle-1{
    left:2.0rem;
    top: 0.1rem;
}
.cpu-eightNeedle-2{
    left:2.5rem;
    top: 0.1rem;
}
.cpu-eightNeedle-3{
    left:3.0rem;
    top: 0.1rem;
}
.cpu-eightNeedle-text-d7{
    left: 1.6rem;
    top: 0.1rem;
    width: 1.0rem;
    height: .276rem;
    font-size: .192rem;
    line-height: .192rem;
}
.cpu-eightNeedle-text-d0{
    left: 1.6rem;
    top: 1.0rem;
    width: 1.0rem;
    height: .276rem;
    font-size: .192rem;
    line-height: .192rem;
}
