.twoNeedle-slim{
    width:.436rem;
    height:.35rem;
    cursor: pointer;
    position:absolute;
    background: url('../assets/2针-slim.png') no-repeat 50% 50%;
    background-size: cover;
}
.expansion-unit-GND{
    left:0.3rem;
    top:.15rem;
}
.expansion-unit-GND-text{
    width:1.08rem;
    height:.42rem;
    position:absolute;
    left:0.4rem;
    top:.55rem;
    font-size: .192rem;
    line-height: .192rem;
}
.expansion-unit-5V{
    left:1.2rem;
    top:.15rem;
}
.expansion-unit-5V-text{
    width:1.08rem;
    height:.42rem;
    position:absolute;
    left:1.3rem;
    top:.55rem;
    font-size: .192rem;
    line-height: .192rem;
}
.expansion-unit-E7-E6{
    left:0.10rem;
    top:0.85rem;
}
.expansion-E-text{
    width:1.08rem;
    height:.42rem;
    position:absolute;
    font-size: .192rem;
    line-height: .192rem;

}
.expansion-unit-E7-text{
    left:0.08rem;
    top:1.25rem;
}
.expansion-unit-E6-text{
    left:0.32rem;
    top:1.25rem;
}
.expansion-unit-E5-E4{
    left:0.65rem;
    top:0.85rem;
}
.expansion-unit-E5-text{
    left:0.65rem;
    top:1.25rem;
}
.expansion-unit-E4-text{
    left:0.90rem;
    top:1.25rem;
}
.expansion-unit-E3-E2{
    left:1.20rem;
    top:0.85rem;
}
.expansion-unit-E3-text{
    left:1.20rem;
    top:1.25rem;
}
.expansion-unit-E2-text{
    left:1.45rem;
    top:1.25rem;
}
.expansion-unit-E1-E0{
    left:1.75rem;
    top:0.85rem;
}
.expansion-unit-E1-text{
    left:1.75rem;
    top:1.25rem;
}
.expansion-unit-E0-text{
    left:2.00rem;
    top:1.25rem;
}
.expansion-unit-red-buble-1{
    left:0.3rem;
    top:1.6rem;
}
.expansion-unit-red-buble-2{
    left:0.65rem;
    top:1.6rem;
}
.expansion-unit-green-buble-1{
    left:1.2rem;
    top:1.6rem;
}
.expansion-unit-green-buble-2{
    left:1.55rem;
    top:1.6rem;
}
