.IN-B-RD{
    left:1.0rem;
    top:0.2rem;
}
.IN-B-RD-text{
    left: 0.95rem;
    top:0.5rem;
    width:3rem;
    height:.4rem;
    position:absolute;
    font-size: .192rem;
    line-height: .192rem;
}
.IN-D7-D0{
    left:2.0rem;
    top:0.2rem;
}
.IN-D7-D0-text{
    left: 2.0rem;
    top:0.5rem;
    width:2rem;
    height:.4rem;
    position:absolute;
    font-size: .192rem;
    line-height: .192rem;
}
.IN-D7{
    left:0.5rem;
    top:0.7rem;
}
.IN-D6{
    left:1.0rem;
    top:0.7rem;
}
.IN-D5{
    left:1.5rem;
    top:0.7rem;
}
.IN-D4{
    left:2.0rem;
    top:0.7rem;
}
.IN-D3{
    left:0.5rem;
    top:1.2rem;
}
.IN-D2{
    left:1.0rem;
    top:1.2rem;
}
.IN-D1{
    left:1.5rem;
    top:1.2rem;
}
.IN-D0{
    left:2rem;
    top:1.2rem;
}
.IN-D7D3-text{
    left: 0.2rem;
    top:0.95rem;
    width:0.5rem;
    height:1rem;
    position:absolute;
    font-size: .192rem;
    line-height: .192rem;
}
.IN-D4D0-text{
    left: 2.5rem;
    top:0.95rem;
    width:0.5rem;
    height:1rem;
    position:absolute;
    font-size: .192rem;
    line-height: .192rem;
}