.mc-unit-twoNeedle-1{
    right: 0.2rem;
    top: 0.7rem;
}
.mc-unit-LDIR-text{
    right: 0.25rem;
    top: 1.05rem;
}
.mc-unit-twoNeedle-2{
    right: 1.0rem;
    top: 0.7rem;
}
.mc-unit-F1-text{
    right: 1.05rem;
    top: 1.05rem;
}
.mc-unit-sixNeedle{
    right: 0.5rem;
    top: 1.6rem;
}
.mc-unit-SE0-text{
    right: 0.4rem;
    top: 1.95rem;
}
.mc-unit-SE5-text{
    right: 1.1rem;
    top: 1.95rem;
}
.mc-unit-twoNeedle-3{
    left: 0.2rem;
    bottom: 1.0rem;
}
.mc-unit-RS_B-text{
    left: 0.25rem;
    bottom: 0.7rem;
}
.mc-unit-twoNeedle-4{
    left: 1.0rem;
    bottom: 1.0rem;
}
.mc-unit-LDRi-text{
    left: 1.05rem;
    bottom: 0.7rem;
}
.mc-unit-fourNeedle-1{
    left: 1.8rem;
    bottom: 0.4rem;
}
.mc-unit-S3-text{
    left: 1.75rem;
    bottom: 0.1rem;
}
.mc-unit-S0-text{
    left: 2.2rem;
    bottom: 0.1rem;
}
.mc-unit-fourNeedle-2{
    left: 2.8rem;
    bottom: 0.4rem;
}
.mc-unit-LDA-text{
    left: 2.65rem;
    bottom: 0.1rem;
}
.mc-unit-LDB-text{
    left: 3.25rem;
    bottom: 0.1rem;
}
.mc-unit-twoNeedle-5{
    left: 4.0rem;
    bottom: 0.4rem;
}
.mc-unit-ALU_B-text{
    left: 3.9rem;
    bottom: 0.1rem;
}
.mc-unit-twoNeedle-6{
    left: 4.8rem;
    bottom: 0.4rem;
}
.mc-unit-LDAR-text{
    left: 4.75rem;
    bottom: 0.1rem;
}
.mc-unit-twoNeedle-7{
    left: 5.6rem;
    bottom: 0.4rem;
}
.mc-unit-LDPC-text{
    left: 5.55rem;
    bottom: 0.1rem;
}
.mc-unit-twoNeedle-8{
    left: 6.4rem;
    bottom: 0.4rem;
}
.mc-unit-PC_B-text{
    left: 6.35rem;
    bottom: 0.1rem;
}
.mc-unit-fourNeedle-3{
    left: 7.5rem;
    bottom: 0.4rem;
}
.mc-unit-WR-text{
    left: 7.20rem;
    bottom: 0.1rem;
}
.mc-unit-RD-text{
    left: 7.62rem;
    bottom: 0.1rem;
}
.mc-unit-IOM-text{
    left: 8.0rem;
    bottom: 0.1rem;
}
.mc-unit-buble-box{
    width: 2.75rem;
    height: 2rem;
    top: 0.5rem;
    left: 3.0rem;
    position: absolute;
}
.mc-unit-red-buble-1-1{
    left: 0.1rem;
    top: 0.1rem;
}
.mc-unit-red-buble-1-2{
    left: 0.4rem;
    top: 0.1rem;
}
.mc-unit-red-buble-1-3{
    left: 0.7rem;
    top: 0.1rem;
}
.mc-unit-red-buble-1-4{
    left: 1.0rem;
    top: 0.1rem;
}
.mc-unit-green-buble-1-1{
    left: 1.5rem;
    top: 0.1rem;
}
.mc-unit-green-buble-1-2{
    left: 1.8rem;
    top: 0.1rem;
}
.mc-unit-green-buble-1-3{
    left: 2.1rem;
    top: 0.1rem;
}
.mc-unit-green-buble-1-4{
    left: 2.4rem;
    top: 0.1rem;
}
.mc-unit-red-buble-2-1{
    left: 0.1rem;
    top: 0.7rem;
}
.mc-unit-red-buble-2-2{
    left: 0.4rem;
    top: 0.7rem;
}
.mc-unit-red-buble-2-3{
    left: 0.7rem;
    top: 0.7rem;
}
.mc-unit-red-buble-2-4{
    left: 1.0rem;
    top: 0.7rem;
}
.mc-unit-green-buble-2-1{
    left: 1.5rem;
    top: 0.7rem;
}
.mc-unit-green-buble-2-2{
    left: 1.8rem;
    top: 0.7rem;
}
.mc-unit-green-buble-2-3{
    left: 2.1rem;
    top: 0.7rem;
}
.mc-unit-green-buble-2-4{
    left: 2.4rem;
    top: 0.7rem;
}
.mc-unit-red-buble-3-1{
    left: 0.1rem;
    top: 1.3rem;
}
.mc-unit-red-buble-3-2{
    left: 0.4rem;
    top: 1.3rem;
}
.mc-unit-red-buble-3-3{
    left: 0.7rem;
    top: 1.3rem;
}
.mc-unit-red-buble-3-4{
    left: 1.0rem;
    top: 1.3rem;
}
.mc-unit-green-buble-3-1{
    left: 1.5rem;
    top: 1.3rem;
}
.mc-unit-green-buble-3-2{
    left: 1.8rem;
    top: 1.3rem;
}
.mc-unit-green-buble-3-3{
    left: 2.1rem;
    top: 1.3rem;
}
.mc-unit-green-buble-3-4{
    left: 2.4rem;
    top: 1.3rem;
}