.out-unit-twoNeedle-1{
    left: 0.2rem;
    top: 1.5rem;
}
.out-unit-WR-text{
    left: 0.35rem;
    top: 1.85rem;
}
.out-unit-twoNeedle-2{
    left: 1.2rem;
    top: 1.5rem;
}
.out-unit-LED_B-text{
    left: 1.15rem;
    top: 1.85rem;
}
.out-unit-eightNeedle{
    left: 0.5rem;
    top: 2.3rem;
}
.out-unit-D7-text{
    left: 0.5rem;
    top: 2.65rem;
}
.out-unit-D0-text{
    left: 1.45rem;
    top: 2.65rem;
}