
.pc-ar-eightNeedle{
    left:1.6rem;
    top: 0.1rem;
}
.pc-ar-eightNeedle-D7-text{
    width: .5rem;
    height: 0.5rem;
    position: absolute;
    left: 1.6rem;
    top: 0.45rem;
    font-size: .192rem;
}
.pc-ar-eightNeedle-D0-text{
    width: .5rem;
    height: 0.5rem;
    position: absolute;
    left: 2.6rem;
    top: 0.45rem;
    font-size: .192rem;
}
.pc-ar-twoNeedle-1{
    left:1.2rem;
    top: 0.8rem;
}
.pc-ar-twoNeedle-LDAR-text{
    width: .5rem;
    height: 0.5rem;
    position: absolute;
    left: 1.2rem;
    top: 1.15rem;
    font-size: .192rem;
}
.pc-ar-twoNeedle-2{
    left:2.0rem;
    top: 0.8rem;
}
.pc-ar-twoNeedle-LDPC-text{
    width: .5rem;
    height: 0.5rem;
    position: absolute;
    left: 2.0rem;
    top: 1.15rem;
    font-size: .192rem;
}
.pc-ar-twoNeedle-3{
    left:2.8rem;
    top: 0.8rem;
}
.pc-ar-twoNeedle-PC_B-text{
    width: .5rem;
    height: 0.5rem;
    position: absolute;
    left: 2.8rem;
    top: 1.15rem;
    font-size: .192rem;
=======
.pc-ar{
    width:3.6rem;
    height:1.56rem;
    position:absolute;
    left:8.77rem;
    top:8.51rem;
}
.pc-ar-text-1{
    width:1.464rem;
    height:.4rem;
    position:absolute;
    left:.25rem;
    top:.66rem;
    font-size: .192rem;
    line-height: .192rem;
}
.pc-ar-text-2{
    width:1.464rem;
    height:.4rem;
    position:absolute;
    left:.35rem;
    top:.996rem;
    font-size: .192rem;
    line-height: .192rem;
}
.pcar-D7-D0{
    left: 1.5rem;
    top: 0.1rem;
}
.pcar-D7-D0-text{
    left: 1.5rem;
    top: 0.48rem;
    width: 2rem;
    height: .4rem;
    position: absolute;
    font-size: .112rem;
    line-height: .192rem;
}
.pcar-LDAR{
    left: 1.1rem;
    top: 0.9rem;
}
.pcar-LDAR-text{
    left: 1.0rem;
    top: 1.15rem;
    width: 1rem;
    height: .4rem;
    position: absolute;
    font-size: .192rem;
    line-height: .192rem;
}
.pcar-LDPC{
    left: 1.9rem;
    top: 0.9rem;
}
.pcar-LDPC-text{
    left: 1.85rem;
    top:1.15rem;
    width:1rem;
    height:.4rem;
    position:absolute;
    font-size: .192rem;
    line-height: .192rem;
}
.pcar-PC-B{
    left: 2.7rem;
    top: 0.9rem;
}
.pcar-PC-B-text{
    left: 2.75rem;
    top:1.15rem;
    width:1rem;
    height:.4rem;
    position:absolute;
    font-size: .192rem;
    line-height: .192rem;
}