.pc-ar-eightNeedle{
    left:1.6rem;
    top: 0.1rem;
}
.pc-ar-eightNeedle-D7-text{
    width: .5rem;
    height: 0.5rem;
    position: absolute;
    left: 1.6rem;
    top: 0.45rem;
    font-size: .192rem;
}
.pc-ar-eightNeedle-D0-text{
    width: .5rem;
    height: 0.5rem;
    position: absolute;
    left: 2.6rem;
    top: 0.45rem;
    font-size: .192rem;
}
.pc-ar-twoNeedle-1{
    left:1.2rem;
    top: 0.8rem;
}
.pc-ar-twoNeedle-LDAR-text{
    width: .5rem;
    height: 0.5rem;
    position: absolute;
    left: 1.2rem;
    top: 1.15rem;
    font-size: .192rem;
}
.pc-ar-twoNeedle-2{
    left:2.0rem;
    top: 0.8rem;
}
.pc-ar-twoNeedle-LDPC-text{
    width: .5rem;
    height: 0.5rem;
    position: absolute;
    left: 2.0rem;
    top: 1.15rem;
    font-size: .192rem;
}
.pc-ar-twoNeedle-3{
    left:2.8rem;
    top: 0.8rem;
}
.pc-ar-twoNeedle-PC_B-text{
    width: .5rem;
    height: 0.5rem;
    position: absolute;
    left: 2.8rem;
    top: 1.15rem;
    font-size: .192rem;
}