.system-T4-T1{
    left:0.15rem;
    top:.1rem;
}
.system-T4-T1-text{
    width:1.08rem;
    height:.42rem;
    position:absolute;
    left:0.15rem;
    top:0.5rem;
    font-size: .192rem;
    line-height: .192rem;
}
.system-twoNeedle-xiow{
    left: 1.4rem;
    top: .1rem;
}
.system-twoNeedle-xiow-text{
    width: 1.08rem;
    height: .82rem;
    position: absolute;
    left: 1.45rem;
    top: .5rem;
    font-size: .192rem;
    line-height: .192rem;
}
.system-red-buble-1{
    left:1.0rem;
    top:0.15rem;
}
.system-red-buble-2{
    left:1.3rem;
    top:0.15rem;
}
.system-red-buble-3{
    left:1.6rem;
    top:0.15rem;
}
.system-red-buble-4{
    left:1.9rem;
    top:0.15rem;
}
.system-twoNeedle-xiow-xior{
    left: 0.4rem;
    top: 1.15rem;
}
.system-twoNeedle-xiow-xior-text{
    width: 1.5rem;
    height: 0.82rem;
    position: absolute;
    left: 0.13rem;
    top: 1.55rem;
    font-size: .192rem;
    line-height: .192rem;
}
.system-fourNeedle-xmwr{
    left: 0.4rem;
    top: 1.8rem;
}
.system-fourNeedle-xmwr-text{
    width: 1.5rem;
    height: .4rem;
    position: absolute;
    left: .08rem;
    top: 2.2rem;
    font-size: .192rem;
    line-height: .192rem;
}
.system-fourNeedle-iom{
    left: 0.4rem;
    top: 2.5rem;
}
.system-fourNeedle-iom-text{
    width: 1.88rem;
    height: .02rem;
    position: absolute;
    left: .12rem;
    top: 2.9rem;
    font-size: .192rem;
    line-height: .192rem;
}
.system-twoNeedle-hold{
    left: 1.4rem;
    top: 2.5rem;
}
.system-twoNeedle-hold-text{
    width: 1.08rem;
    height: .82rem;
    position: absolute;
    left: 1.43rem;
    top: 2.9rem;
    font-size: .192rem;
    line-height: .192rem;
}
.system-eightNeedle-xd-1{
    left: 1.1rem;
    top: 3.5rem;
}
.system-eightNeedle-xd-2{
    left: 1.65rem;
    top: 3.5rem;
}
.system-eightNeedle-xa{
    left: 1.65rem;
    top: 5.2rem;
}
.system-eightNeedle-xd7-text{
    width: .5rem;
    height: 0.5rem;
    position: absolute;
    left: 0.6rem;
    top: 3.55rem;
    font-size: .192rem;
    line-height: .192rem;
}
.system-eightNeedle-xd0-text{
    width: .5rem;
    height: .52rem;
    position: absolute;
    left: .6rem;
    top: 4.5rem;
    font-size: .192rem;
    line-height: .192rem;
}
.system-eightNeedle-xa7-text{
    width: 1.08rem;
    height: .82rem;
    position: absolute;
    left: 1.2rem;
    top: 5.25rem;
    font-size: .192rem;
    line-height: .192rem;
}
.system-eightNeedle-xa0-text{
    width: 1.08rem;
    height: .82rem;
    position: absolute;
    left: 1.2rem;
    top: 6.3rem;
    font-size: .192rem;
    line-height: .192rem;
}
.system-red-buble-a7{
    left: 0.05rem;
    top: 5.3rem;
}
.system-red-buble-a6{
    left: 0.3rem;
    top: 5.3rem;
}
.system-red-buble-a5{
    left: 0.55rem;
    top: 5.3rem;
}
.system-red-buble-a4{
    left: 0.8rem;
    top: 5.3rem;
}
.system-red-buble-text{
    width: 2.16rem;
    height: 1.82rem;
    position: absolute;
    left: 0.05rem;
    top: 5.65rem;
    font-size: .192rem;
    line-height: .192rem;
}
.system-green-buble-a3{
    left: 0.05rem;
    top: 6.0rem;
}
.system-green-buble-a2{
    left: 0.3rem;
    top: 6.0rem;
}
.system-green-buble-a1{
    left: 0.55rem;
    top: 6.0rem;
}
.system-green-buble-a0{
    left: 0.8rem;
    top: 6.0rem;
}
.system-green-buble-text{
    width: 2.16rem;
    height: 1.82rem;
    position: absolute;
    left: 0.05rem;
    top: 6.35rem;
    font-size: .192rem;
    line-height: .192rem;
}
