.system-T4-T1{
    left:.5rem;
    top:.1rem;
}
.system-T4-T1-text{
    width:1.08rem;
    height:.42rem;
    position:absolute;
    left:.5rem;
    top:.5rem;
    font-size: .192rem;
    line-height: .192rem;
}
.system-red-buble-1{
    left:.4rem;
    top:.8rem;
}
.system-red-buble-2{
    left:.7rem;
    top:.8rem;
}
.system-red-buble-3{
    left:1rem;
    top:.8rem;
}
.system-red-buble-4{
    left:1.3rem;
    top:.8rem;
}