.mc-unit{
    width:8.64rem;
    height:3.756rem;
    position:absolute;
    left:1.776rem;
    top:3.204rem;
}
.mc-unit-text{
    width:1rem;
    height:.4rem;
    position:absolute;
    left: 0.5rem;
    top:3.156rem;
    font-size: .192rem;
    line-height: .192rem;
}
.ir-unit{
    width:1.968rem;
    height:3.756rem;
    position:absolute;
    left:10.4rem;
    top: 3.204rem;
}
.ir-unit-text{
    width:1rem;
    height:.4rem;
    position:absolute;
    left:1.08rem;
    top:.28rem;
    font-size: .192rem;
    line-height: .192rem;
}
.alu-reg-unit{
    width:6.996rem;
    height:3.12rem;
    position:absolute;
    top:6.95rem;
    left:1.776rem;
}
.alu-reg-unit-text{
    width:1.692rem;
    height:.4rem;
    left:1.62rem;
    top:1.95rem;
    position:absolute;
    font-size: .192rem;
    line-height: .192rem;
    font-weight:bold;
}
.cpu-bus{
    width:3.6rem;
    height:1.56rem;
    position:absolute;
    left:8.77rem;
    top:6.95rem;
}
.cpu-bus-text{
    width:1.464rem;
    height:.4rem;
    left:.4rem;
    top:1.1rem;
    position:absolute;
    font-size: .192rem;
    line-height: .192rem;
    font-weight: bold;
}

.cpu-text{
    width:9.24rem;
    height:3.96rem;
    position:absolute;
    left:5.892rem;
    top:2.93rem;
    font-size: .25rem;
    line-height: .25rem;
}
