.mm{
    width:4.5rem;
    height:1.716rem;
    position:absolute;
    left:15.192rem;
    top:3.204rem;
}
.mm-text{
    width:1.86rem;
    height:3.96rem;
    position:absolute;
    left:3.306rem;
    top:.876rem;
    font-size: .192rem;
    line-height: .192rem;
}
.mm-io-text{
    width:1.86rem;
    height:3.96rem;
    position:absolute;
    left:16.644rem;
    top:2.93rem;
    font-size: .25rem;
    line-height: .25rem;
}
.out-unit{
    width:2.29rem;
    height:3.408rem;
    position:absolute;
    left:17.4rem;
    top:6.6rem;
}
.out-unit-text{
    width:1.86rem;
    height:3.96rem;
    position:absolute;
    left:1.1rem;
    top:.3rem;
    font-size: .192rem;
    line-height: .192rem;
}

.eightTwoNine{
    width:2.25rem;
    height:1.704rem;
    position:absolute;
    left:15.192rem;
    top:4.9rem;
}
.eightTwoNine-text{
    width: .54rem;
    height: .54rem;
    font-size: .192rem;
    line-height: .192rem;
    position: absolute;
    color: #fff;
    left: 1.6rem;
    top: 0.68rem;
}
.eightTwoSeven{
    width:2.25rem;
    height:1.704rem;
    position:absolute;
    left:15.192rem;
    top:8.328rem;
}
.eightTwoSeven-text{
    width: .54rem;
    height: .54rem;
    font-size: .192rem;
    line-height: .192rem;
    position: absolute;
    color: #fff;
    left: 1.6rem;
    top: 0.96rem;
}
.extra{
    width:2.26rem;
    height:1.704rem;
    position:absolute;
    left:17.43rem;
    top:4.9rem;
}
.expand-bus{
    width:2.25rem;
    height:1.8rem;
    position:absolute;
    left:15.192rem;
    top:6.55rem;
}
.expand-bus-text{
    width:1.464rem;
    height:.4rem;
    left:.24rem;
    top:1.02rem;
    position:absolute;
    font-size: .192rem;
    line-height: .192rem;
}
