.out-unit{
    width:2.29rem;
    height:3.408rem;
    position:absolute;
    left:17.4rem;
    top:6.6rem;
}
.out-unit-text{
    width:1.86rem;
    height:3.96rem;
    position:absolute;
    left:1.3rem;
    top:.3rem;
    font-size: .192rem;
    line-height: .192rem;
}