.system-bus{
    width:2.22rem;
    height:6.84rem;
    position:absolute;
    left:12.804rem;
    top:3.204rem;
}
.system-bus-control-text-1{
    width:1.08rem;
    height:.42rem;
    position:absolute;
    left:.216rem;
    top:0.8rem;
    font-size: .192rem;
    line-height: .192rem;
    font-weight:bold;
}
.system-bus-text-1{
    width:1.08rem;
    height:.42rem;
    position:absolute;
    left:.216rem;
    top:1.3rem;
    font-size: .192rem;
    line-height: .192rem;
    font-weight:bold;
}
.system-bus-text-2{
    width:1.08rem;
    height:.42rem;
    position:absolute;
    left:.216rem;
    top:3.3rem;
    font-size: .192rem;
    line-height: .192rem;
    font-weight:bold;
}
.system-bus-text-3{
    width:1.08rem;
    height:.42rem;
    position:absolute;
    left:.216rem;
    top:4.92rem;
    font-size: .192rem;
    line-height: .192rem;
    font-weight:bold;
}
.system-bus-text{
    width:9.24rem;
    height:3.96rem;
    position:absolute;
    left:13.404rem;
    top:2.93rem;
    font-size: .25rem;
    line-height: .25rem;
}
